@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap');
body{
    font-family:  'Baloo Bhai 2', cursive;
}
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.c1{
  display: flex;
  justify-content: space-between;
  
}
.containerr::-webkit-scrollbar {
  display: none;
}

.cont{
  display: flex;
  justify-content: space-between;

}
.box{
  height: 70px;
  width: 800px;
  border: 2px solid black;
}